@{ ViewData["Title"] = "Order Success"; }

<div class="row">
    <form>
        <div class="col-lg-4">
            <br />
            <div class="jumbotron" style="width:800px;">
                <h2 style="color:forestgreen">Your request sent successfully !</h2>
                <hr>

            </div>
        </div>
    </form>
</div>