@{ 
    ViewData["Title"] = "About";
    }
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->



<div>
    <br />
    <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; color:cadetblue;">This ASP.NET web application of the test suites for end-user testing. </h4>
    <hr>
    <h6>For: SDA_simplilearn Assessment Project4,(Pizza Market)</h6>
    <br>
    <h4 style="color: cadetblue; font-style: italic; ">Github Project Repository</h4>
    <h5><a onclick="javascript:window.open('https://github.com/shuruq-alshahrani3')">Shuruq/Project4_SDA</a></h5>
    
</div>