@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">

    <div id="themeSlider" class="carousel slide" data-ride="carousel">


        <div class="item">
            <div class="imgOverlay"></div>
            <div class="carousel-caption">
                <img src="~/images/Pizzas/222.jpg" />
                <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic; color:black;">
                    Joe’s Pizza
                </h3>

            </div>
        </div>

    </div>

</div>